<h1>Create a Team and Heroes!</h1>

<form action="/team" method="POST">
<label for="team_name">Team Name: <input type="text" name="team_name"></label><br>
<label for="team_motto">Team Motto: <input type="text" name="team_motto"></label><br>

<h2>Hero 1</h2>
<label for="hero_name">Hero's Name: <input type="text" name="hero_name"></label><br>

</form>
