<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
<label for="team_name">Team Name: <input type="text" name="team_name"></label><br>
<label for="team_motto">Team Motto: <input type="text" name="team_motto"></label><br>

<h2>Hero 1</h2>
<label for="hero_name">Hero's Name: <input type="text" name="team[heroes][][name]"></label><br>
<label for="hero_power">Hero's Power: <input type="text" name="team[heroes][][power]"></label><br>
<label for="hero_bio">Hero's Biography: <input type="text" name="team[heroes][][bio]"></label><br>

<h2>Hero 2</h2>
<label for="hero_name">Hero's Name: <input type="text" name="team[heroes][][name]"></label><br>
<label for="hero_power">Hero's Power: <input type="text" name="team[heroes][][power]"></label><br>
<label for="hero_bio">Hero's Biography: <input type="text" name="team[heroes][][bio]"></label><br>

<h2>Hero 3</h2>
<label for="hero_name">Hero's Name: <input type="text" name="team[heroes][][name]"></label><br>
<label for="hero_power">Hero's Power: <input type="text" name="team[heroes][][power]"></label><br>
<label for="hero_bio">Hero's Biography: <input type="text" name="team[heroes][][bio]"></label><br>
<input type="submit" name="submit id="submit">
</form>
